# Emergency_Response_Incidents:

a. To get the required columns, use this module: 


1.   get_area_of_interest(df_spark, interested_columns)


b. Preprocessing pipeline: Pass your data through these functions. (if your columns fall in those categories)

1.   valid_date_check(date)
2.   valid_time_check(time)
3.   reverse_geo_code_boros(df_spark, Latitude, Longitude, Boro, lat_index, long_index)
4.   refine_age_group_race(df_spark, victim_age_group=None, suspect_age_group=None, suspect_race=None, victim_race=None)
5.   refine_sex_gender_impute(df_spark, suspect_age=None, suspect_gender=None, victim_age=None, victim_gender=None)
6.   refine_precinct_jur(df_spark, precinct=None, Jur_code=None)

In [1]:
!pip install pyspark
!pip install openclean

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 39 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 49.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=f0e25d3257e061dfa9f95f45fed41290050c9161f697c7fe84663e7724ebdfad
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0
Collecting openclean
  Downloading openclean-0.2.1-py3-none-any.whl (5.2 kB)
Collecting openclean-core==0.4.1
  Downloading openclean_core-0.4.1-py3-none-any.whl (267 kB)
     |████████████████████████████████| 267 kB 35.5 MB/s
Collecting jsonschema>=3.2.0
  Downloading jsonschema-4.2.1-py3-none-any.whl (69 kB)
     |████████████████████████████████| 69 kB 7.4 MB/s
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.16.0)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.3.4)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.1.5)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.4.4)
Collecting histore>=0.4.0
  Downloading histore-0.4.1-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 57.3 MB/s
Collecting jellyfish
  Downloading jellyfish-0.8.9.tar.gz (137 kB)
     |████████████████████████████████| 137 kB 49.6 MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (2.23.0)
Collecting refdata>=0.2.0
  Downloading refdata-0.2.0-py3-none-any.whl (37 kB)
Collecting flowserv-core>=0.8.0
  Downloading flowserv_core-0.9.2-py3-none-any.whl (260 kB)
     |████████████████████████████████| 260 kB 64.6 MB/s
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (2.8.2)
Collecting pyyaml>=5.1
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 70.6 MB/s
Collecting passlib
  Downloading passlib-1.7.4-py2.py3-none-any.whl (525 kB)
     |████████████████████████████████| 525 kB 71.4 MB/s
Collecting gitpython
  Downloading GitPython-3.1.24-py3-none-any.whl (180 kB)
     |████████████████████████████████| 180 kB 41.9 MB/s
Requirement already satisfied: SQLAlchemy>=1.3.18 in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.4.27)
Requirement already satisfied: Click in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (7.1.2)
Collecting paramiko
  Downloading paramiko-2.8.1-py2.py3-none-any.whl (206 kB)
     |████████████████████████████████| 206 kB 71.2 MB/s
Collecting pyyaml-include
  Downloading pyyaml_include-1.2.post2-py3-none-any.whl (20 kB)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from histore>=0.4.0->openclean-core==0.4.1->openclean) (5.4.8)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (0.18.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (4.8.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (5.4.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (21.2.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (3.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.4.1->openclean) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.4.1->openclean) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->openclean-core==0.4.1->openclean) (1.15.0)
Collecting tableprint
  Downloading tableprint-0.9.1-py3-none-any.whl (6.8 kB)
Requirement already satisfied: pooch>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core==0.4.1->openclean) (1.5.2)
Collecting datasize>=1.0.0
  Downloading datasize-1.0.0.tar.gz (149 kB)
     |████████████████████████████████| 149 kB 55.7 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.4.1->openclean) (21.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=1.3.18->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.1.2)
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.9-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.7 MB/s
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from gitpython->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (3.10.0.2)
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.4.1->openclean) (3.0.6)
Collecting pynacl>=1.0.1
  Downloading PyNaCl-1.4.0-cp35-abi3-manylinux1_x86_64.whl (961 kB)
     |████████████████████████████████| 961 kB 34.5 MB/s
Collecting cryptography>=2.5
  Downloading cryptography-36.0.0-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 46.2 MB/s
Collecting bcrypt>=3.1.3
  Downloading bcrypt-3.2.0-cp36-abi3-manylinux2010_x86_64.whl (63 kB)
     |████████████████████████████████| 63 kB 2.6 MB/s
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (2.21)
Collecting pyyaml>=5.1
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 37.3 MB/s
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (3.0.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core==0.4.1->openclean) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core==0.4.1->openclean) (3.0.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from tableprint->refdata>=0.2.0->openclean-core==0.4.1->openclean) (0.2.5)
Building wheels for collected packages: datasize, jellyfish
  Building wheel for datasize (setup.py) ... done
  Created wheel for datasize: filename=datasize-1.0.0-py2.py3-none-any.whl size=155047 sha256=41db6e897bd659a516bfde6bb0eb1237f04716be848189c22d4dd4c307ba0eb4
  Stored in directory: /root/.cache/pip/wheels/f7/b5/32/d8836896da6aca7f9c5748670ea6110d1385c262bf3abcca30
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.8.9-cp37-cp37m-linux_x86_64.whl size=73220 sha256=0f55fb3650bc7ba75d19a75371b4f7de59569806555be41096ac5ca0be26f3a7
  Stored in directory: /root/.cache/pip/wheels/32/a9/ef/5d8742e72deaf0d1de327a180d008c2c0299367581800ea73f
Successfully built datasize jellyfish
Installing collected packages: smmap, pyyaml, pynacl, gitdb, cryptography, bcrypt, tableprint, pyyaml-include, passlib, paramiko, jsonschema, gitpython, datasize, refdata, jellyfish, histore, flowserv-core, openclean-core, openclean
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: jsonschema
    Found existing installation: jsonschema 2.6.0
    Uninstalling jsonschema-2.6.0:
      Successfully uninstalled jsonschema-2.6.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
nbclient 0.5.9 requires jupyter-client>=6.1.5, but you have jupyter-client 5.3.5 which is incompatible.
Successfully installed bcrypt-3.2.0 cryptography-36.0.0 datasize-1.0.0 flowserv-core-0.9.2 gitdb-4.0.9 gitpython-3.1.24 histore-0.4.1 jellyfish-0.8.9 jsonschema-4.2.1 openclean-0.2.1 openclean-core-0.4.1 paramiko-2.8.1 passlib-1.7.4 pynacl-1.4.0 pyyaml-5.4.1 pyyaml-include-1.2.post2 refdata-0.2.0 smmap-5.0.0 tableprint-0.9.1

In [2]:
#importing packages required
from pyspark import SparkContext, SparkConf
import os
import requests
from six.moves import urllib
import sys 
import pandas as pd
import matplotlib 
import matplotlib as plt
import numpy as np
import scipy as sp
import IPython
from IPython import display
import sklearn
import random
import time
import warnings
import re
import matplotlib.pyplot as plt
%matplotlib inline
from openclean.pipeline import stream
from openclean.profiling.column import DefaultColumnProfiler
from openclean.data.source.socrata import Socrata
from openclean.pipeline import stream
from openclean.function.eval.datatype import IsDatetime
import datetime
import pandas as pd
from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import udf, struct
from pyspark.sql.types import StringType

In [3]:
from geopy.geocoders import ArcGIS
geocoder=ArcGIS()
#example:
geocoder.reverse('40.61157006600007, -73.74736517199995')

Location(11-64 Redfern Ave, Far Rockaway, New York 11691, USA, (40.61161616586613, -73.74738361194636, 0.0))

In [4]:
#Creating Spark Session
sc = SparkContext.getOrCreate();
spark = SparkSession(sc)

In [5]:
#Downloading file from NYC Open Data
#https://drive.google.com/uc?export=download&id=1aeFR66MAgDXobrEosENZhBlq0dAqHEQw
#File uploaded on drive to make it available for all

fn_src = 'https://drive.google.com/uc?export=download&id=1aeFR66MAgDXobrEosENZhBlq0dAqHEQw'
fn_dst = '/content/Emergency_Response_Incidents.csv'

from six.moves import urllib

if os.path.isfile(fn_dst):
    print('File has already been downloaded', fn_dst)
else:
    print('Fetching file. This may take a while...', fn_dst)
    urllib.request.urlretrieve(fn_src, fn_dst)
    print('File %s has been downloaded' % fn_dst)

Fetching file. This may take a while... /content/Emergency_Response_Incidents.csv
File /content/Emergency_Response_Incidents.csv has been downloaded

In [6]:
src = 'https://data.beta.nyc/dataset/0ff93d2d-90ba-457c-9f7e-39e47bf2ac5f/resource/7caac650-d082-4aea-9f9b-3681d568e8a5/download/nyc_zip_borough_neighborhoods_pop.csv'
dst = 'nyc_zip_borough_neighborhoods_pop.csv'

#https://data.cityofnewyork.us/resource/h9gi-nx95.csv

from six.moves import urllib

if os.path.isfile(dst):
    print('File %s has already been downloaded' % dst)
else:
    urllib.request.urlretrieve(src, dst)
    print('File %s has been downloaded' % dst)

File nyc_zip_borough_neighborhoods_pop.csv has been downloaded

In [7]:
#similarly, lets get them into pyspark rdd
def get_area_of_interest(df_spark, interested_columns):
  df_spark=df_spark.select(interested_columns)
  return df_spark

# 2. Module for date related columns

As the dataset is for the data from 2006 to 2020, we can see that there is data from unknown format of "1010-05-14" to the year 2020. We need to clean this. Over here, we remove the null values where the complaint date is <2006.

In [8]:
def valid_date_check(date, format):
  if date==None or date==" " or date=="":
      return False
  else:
    date_cpy=date
    split_date=date.split("-")
    format_date=format.split("-")
    if len(split_date)!=3 and len(format_date)!=3:
      date=date.split("/")
      format=format.split("/")
    else:
      date=split_date
      format=format_date
    if len(date)!=3:
      return False
    try:
      year=int(date[format.index('yyyy')])
      month=int(date[format.index('mm')])
      day=int(date[format.index('dd')])
      if year>=2006 and year<=2020:
        try:
          refined_date=datetime.datetime(year, month, day)
          return True
        except:
          return False
      else:
        return False
    except:
      return False

# 3. Module for time related columns

Similarly, lets check for the time as well. Here we must have time between 
the standard 24 hours.

In [9]:
#Deleting invalid time
def valid_time_check(time):
  if time==None or time==" " or time=="":
    return False
  else :
    cpy_time=time
    time=time.split(":")
    try:
      hour=int(time[0])
      mins=int(time[1])
      secs= int(time[2])
      # if hours is 24 then change it to 0 hours
      if hour == 24 and mins== 0 and secs == 0:
        hour=0
      try:
        newTime= datetime.time(hour,mins,secs)
        return True
      except :
        return False
    except:
      return False

#4. Module for Age Group and Race columns
The module works for only those columns whose column names are passed

In [10]:
def refine_age_group_race(df_spark, victim_age_group=None, suspect_age_group=None, suspect_race=None, victim_race=None):
  #params: dataframe, col names for the respective age, gender cols
  if victim_age_group:
    df_spark = df_spark.na.fill("UNKNOWN",subset=[victim_age_group])
  if suspect_age_group:
    df_spark = df_spark.na.fill("UNKNOWN",subset=[suspect_age_group])
  if suspect_race:
    df_spark = df_spark.na.fill("UNKNOWN",subset=[suspect_race])
  if victim_race:
    df_spark = df_spark.na.fill("UNKNOWN",subset=[victim_race])
  return df_spark

# 5. Module for Gender, Race Columns for suspects and victims

The module works for only those columns whose column names are passed

In [11]:
def refine_sex_gender_impute(df_spark, suspect_age=None, suspect_gender=None, victim_age=None, victim_gender=None):
  #params: dataframe, col names for the respective age, gender cols
  if suspect_age:
    df_spark=df_spark.na.fill("U",subset=[suspect_age])
  if victim_age:
    df_spark=df_spark.na.fill("U",subset=[victim_age])
  if suspect_gender:
    df_spark = df_spark.na.fill("UNKNOWN",subset=[suspect_gender])
  if victim_gender:
    df_spark = df_spark.na.fill("UNKNOWN",subset=[victim_gender])
  return df_spark

# 6.a: Module for Precinct, Jurisdiction Code:
  dropping the null values

  The module works for only those columns whose column names are passed along with the df

In [12]:
def valid_precinct_check(precinct):
  if precinct==None or precinct==" " or precinct=="":
    return False
  else :
    return True

def valid_jur_check(jur):
  if jur==None or jur==" " or jur=="":
    return False
  else :
    return True

# 6.b Module for Reverse Geocoding the boroughs using latitudes and longitudes.

1. First we will remove the rows where latitude, longitude and boroughs are null. (around 450 tuples removed)
2. Then, where the boroughs are empty, take the latitude and longitude value and reverse geocode it using the module "reverseGeocoder".
3. Impute the borough name retrived in the empty space.


### USING MASTER DATASET
In the case of geocoding, geocoder gives us the zipcodes based on the latitude and longitude values. Inturn, we can use the master dataset of zipcodes inorder to retrive the borough names



NOTE: The dataset can be downloaded from : https://data.beta.nyc/en/dataset/pediacities-nyc-neighborhoods/resource/7caac650-d082-4aea-9f9b-3681d568e8a5

In [13]:
def reverse_geo_code_boros(df_spark, Latitude, Longitude, Boro, lat_index, long_index):
  #select data where we have to impute
  df_temp_boro_clean=df_spark.filter((df_spark[Latitude].isNotNull()) & (df_spark[Longitude].isNotNull()))
  boro_cleaner=df_temp_boro_clean.filter((df_temp_boro_clean[Boro].isNull())|(df_temp_boro_clean[Boro]=='NEW YORK'))

  # print("We have "+ str(boro_cleaner.count())+ " points to impute")
  print("___intializing Zip Code Look up ____")
  print("____ imputing the points ____")


  #use your path for master dataset here. 
  df_zips=pd.read_csv(dst)
  zip_master={}
  zips=df_zips['zip']
  boro=df_zips['borough']
  for i, j in zip(zips, boro):
    zip_master[i]=j
  zip_master[10020]='Manhattan'
  zip_master[11249]='Brooklyn'

  def reverseGeoCoder(latitude, longitude):
    loc=geocoder.reverse(str(latitude)+', '+str(longitude), timeout=1000)
    zipCode=str(loc).split(",")[2][-5:]
    if not int(zipCode) in zip_master:
      boro="UNKNOWN"
    else:
      boro=zip_master[int(zipCode)]
    boro=boro.upper()
    return boro

  #creating UD function
  ud_func= udf(reverseGeoCoder, StringType())
  boro_cleaned_dataframe = boro_cleaner.withColumn(Boro, ud_func(boro_cleaner[lat_index], boro_cleaner[long_index]))

  #joining the imputed dataset to the maindataset and returning

  joiner_dataset=df_spark.filter((df_spark[Latitude].isNotNull()) & (df_spark[Boro]!='NEW YORK') & (df_spark[Longitude].isNotNull()) & (df_spark[Boro].isNotNull()))
  fin_df=joiner_dataset.union(boro_cleaned_dataframe)
  return fin_df

NYPD Emergency_Response_Incidents 11085 Rows of data.

Confidence Level:	95% 
Confidence Interval: 5
Population:	
11000
      
Sample size needed:	
377

In [14]:
df_spark=spark.read.option("header",True).csv(fn_dst,inferSchema=True)
print(df_spark.count())
df_spark=df_spark.sample(0.03290)
df_spark.count()

11085

351

# PROFILING TO CHECK FOR NULL VALUES IN ALL THE COLUMNS

In [15]:
pandasDF = df_spark.toPandas()
ds=stream(pandasDF)
#Creating profile of our dataset
profiles = ds.profile(default_profiler=DefaultColumnProfiler)
profiles.stats()

               total  empty  distinct  uniqueness   entropy
Incident Type    351      0        98    0.279202  5.724212
Location         351     27       311    0.959877  8.237321
Borough          351      0        13    0.037037  2.432201
Creation Date    351      0       340    0.968661  8.382365
Closed Date      351     93       258    1.000000  8.011227
Latitude         351     53       277    0.929530  8.005247
Longitude        351     53       277    0.929530  8.005247

In [16]:
pandasDF.head()

              Incident Type                      Location  ...   Latitude  Longitude
0            Fire-2nd Alarm            238 East 24 Street  ...  40.714422 -74.006076
1      Administration-Other        188 Street & 75 Avenue  ...  40.714004 -73.829989
2  Utility-Gas Low Pressure  Noble Avenue & Watson Avenue  ...  40.827301 -73.869179
3            Fire-2nd Alarm              447 Wales Avenue  ...  40.810281 -73.908206
4            Fire-7th Alarm         110-14 Liberty Avenue  ...  40.714004 -73.829989

[5 rows x 7 columns]

## a. Select the columns that are common with the original dataset:
1. Incident Type
2. Borough
3. Creation Date
4. Latitude
5. Longitude



**We can consider the primary key along with this**
**"Incident Type"**

In [17]:
interested_columns_1=['Incident Type', 'Location', 'Borough', 'Creation Date', 'Latitude', 'Longitude']
df_spark=get_area_of_interest(df_spark, interested_columns_1)

In [18]:
df_spark.show()

+--------------------+--------------------+---------+--------------------+------------------+------------------+
|       Incident Type|            Location|  Borough|       Creation Date|          Latitude|         Longitude|
+--------------------+--------------------+---------+--------------------+------------------+------------------+
|      Fire-2nd Alarm|  238 East 24 Street|Manhattan|11/25/2016 04:06:...| 40.71442154062271|-74.00607638041981|
|Administration-Other|188 Street & 75 A...|   Queens|05/10/2017 01:36:...| 40.71400364095638|-73.82998933154158|
|Utility-Gas Low P...|Noble Avenue & Wa...|    Bronx|01/30/2017 09:47:...| 40.82730091310776|-73.86917897682753|
|      Fire-2nd Alarm|    447 Wales Avenue|    Bronx|07/26/2017 03:06:...| 40.81028097169481|-73.90820617557257|
|      Fire-7th Alarm|110-14 Liberty Av...|   Queens|03/04/2017 11:13:...| 40.71400364095638|-73.82998933154158|
|       Utility-Other|10 Nathan Perlman...|Manhattan|05/02/2019 11:30:...|40.733605005828394|-73.98293627906979|
|      Fire-6th Alarm|     702 44th street| Brooklyn|04/03/2019 05:10:...| 40.64567498528483| -74.0022560985342|
|        Fire-Haz Mat|     41-12 12 Street|   Queens|06/12/2017 01:36:...| 40.71400364095638|-73.82998933154158|
|      Fire-7th Alarm|110-14 Liberty Av...|   Queens|03/04/2017 11:13:...| 40.71400364095638|-73.82998933154158|
|      Fire-5th Alarm|2118 Flatbush Avenue| Brooklyn|04/17/2019 06:47:...| 40.61825505522539|-73.93215402943036|
|Structural-Street...|FDR Drive & East ...|Manhattan|09/28/2017 07:44:...| 40.78499400000001|-73.94091300000001|
|        Fire-Manhole| 651 West 168 Street|Manhattan|11/27/2017 04:53:...|              null|              null|
|      Fire-4th Alarm|       1686 clay ave|    Bronx|12/17/2017 05:31:...| 40.84387029225576|-73.90486685899367|
|      Fire-6th Alarm|225 McClellan Street|    Bronx|08/05/2019 05:48:...| 40.83227874216628|-73.91658338106646|
|  Utility-Water Main|OsbornStreet & Pi...| Brooklyn|09/02/2019 01:42:...| 40.66999199999999|          -73.9089|
|      Fire-2nd Alarm|    85 Cooper Street| Brooklyn|10/07/2019 01:25:...| 40.68589980850017|-73.90923962629114|
|      Fire-3rd Alarm|667 Jefferson Avenue| Brooklyn|03/05/2018 12:49:...|40.685477405505175|-73.93117632001268|
|  Utility-Water Main|    136-17 72 Avenue|   Queens|01/16/2017 01:13:...| 40.71400364095638|-73.82998933154158|
|Structural-Street...|FDR Drive & East ...|Manhattan|09/28/2017 07:44:...| 40.78499400000001|-73.94091300000001|
|          Fire-Other|         215 8th ave|Manhattan|05/10/2018 07:43:...|40.743937812106836|-73.99950702735288|
+--------------------+--------------------+---------+--------------------+------------------+------------------+
only showing top 20 rows

#RENAME COLUMNS which has "spaces" in COLUMN Names

In [19]:
from pyspark.sql.functions import upper, col
import pyspark.sql.functions as f
df_spark = df_spark.withColumnRenamed("Incident Type","Incident_Type")
df_spark = df_spark.withColumnRenamed("Creation Date","Creation_Date")
df_spark.tail(2)

[Row(Incident_Type='Fire-2nd Alarm', Location='549 Beach 68 Street', Borough='Far Rockaway', Creation_Date='10/29/2016 12:20:18 AM', Latitude=40.74862862455331, Longitude=-73.9856861527595),
 Row(Incident_Type='HazMat-Other', Location='East 70 Street & York Avenue', Borough='Manhattan', Creation_Date='11/03/2016 04:25:39 PM', Latitude=None, Longitude=None)]

#Converting datetime format to Date and Time
# Make sure to run this only once

In [20]:
from pyspark.sql import SparkSession 
from pyspark.sql.functions import col, substring
df_spark = df_spark.select('*',substring(df_spark[3], 1, 10).alias('CREATE_DATE'))
df_spark = df_spark.select('*',substring(df_spark[3], 12, 8).alias('CREATE_TIME'))

In [21]:
df_spark = df_spark.drop('Creation_Date')
df_spark = df_spark.drop('Location') #as we have not used it in original dataset

In [22]:
df_spark.show()

+--------------------+---------+------------------+------------------+-----------+-----------+
|       Incident_Type|  Borough|          Latitude|         Longitude|CREATE_DATE|CREATE_TIME|
+--------------------+---------+------------------+------------------+-----------+-----------+
|      Fire-2nd Alarm|Manhattan| 40.71442154062271|-74.00607638041981| 11/25/2016|   04:06:09|
|Administration-Other|   Queens| 40.71400364095638|-73.82998933154158| 05/10/2017|   01:36:12|
|Utility-Gas Low P...|    Bronx| 40.82730091310776|-73.86917897682753| 01/30/2017|   09:47:09|
|      Fire-2nd Alarm|    Bronx| 40.81028097169481|-73.90820617557257| 07/26/2017|   03:06:44|
|      Fire-7th Alarm|   Queens| 40.71400364095638|-73.82998933154158| 03/04/2017|   11:13:52|
|       Utility-Other|Manhattan|40.733605005828394|-73.98293627906979| 05/02/2019|   11:30:49|
|      Fire-6th Alarm| Brooklyn| 40.64567498528483| -74.0022560985342| 04/03/2019|   05:10:29|
|        Fire-Haz Mat|   Queens| 40.71400364095638|-73.82998933154158| 06/12/2017|   01:36:36|
|      Fire-7th Alarm|   Queens| 40.71400364095638|-73.82998933154158| 03/04/2017|   11:13:52|
|      Fire-5th Alarm| Brooklyn| 40.61825505522539|-73.93215402943036| 04/17/2019|   06:47:50|
|Structural-Street...|Manhattan| 40.78499400000001|-73.94091300000001| 09/28/2017|   07:44:57|
|        Fire-Manhole|Manhattan|              null|              null| 11/27/2017|   04:53:34|
|      Fire-4th Alarm|    Bronx| 40.84387029225576|-73.90486685899367| 12/17/2017|   05:31:57|
|      Fire-6th Alarm|    Bronx| 40.83227874216628|-73.91658338106646| 08/05/2019|   05:48:49|
|  Utility-Water Main| Brooklyn| 40.66999199999999|          -73.9089| 09/02/2019|   01:42:36|
|      Fire-2nd Alarm| Brooklyn| 40.68589980850017|-73.90923962629114| 10/07/2019|   01:25:44|
|      Fire-3rd Alarm| Brooklyn|40.685477405505175|-73.93117632001268| 03/05/2018|   12:49:27|
|  Utility-Water Main|   Queens| 40.71400364095638|-73.82998933154158| 01/16/2017|   01:13:38|
|Structural-Street...|Manhattan| 40.78499400000001|-73.94091300000001| 09/28/2017|   07:44:57|
|          Fire-Other|Manhattan|40.743937812106836|-73.99950702735288| 05/10/2018|   07:43:54|
+--------------------+---------+------------------+------------------+-----------+-----------+
only showing top 20 rows

## b. Lets pass the dataset through the preprocessing pipeline

In [23]:
df_temp=df_spark.rdd

1. Date and Time

### From data profiling we found that the date and time has no NULL Values

In [24]:
# checking date and time for null values

df_temp_=df_temp.map(lambda x:(x, valid_date_check(x[-2], 'mm/dd/yyyy'))).filter(lambda x: x[1]==True)
df_temp=df_temp_.map(lambda x: x[0])

In [25]:
df_temp_=df_temp.map(lambda x:(x, valid_time_check(str(x[-1])))).filter(lambda x: x[1]==True)
df_temp=df_temp_.map(lambda x: x[0])

3. Geocoding

In [26]:
#geospacial attributes imputation

df_temp=df_temp.toDF(schema=df_spark.schema)
df_spk=reverse_geo_code_boros(df_temp, 'Latitude', 'Longitude', 'Borough', -4, -3)

___intializing Zip Code Look up ____
____ imputing the points ____

Lets profile the data now.

In [27]:
pandasDF = df_spk.toPandas()
ds=stream(pandasDF)

#Creating profile of our dataset
profiles = ds.profile(default_profiler=DefaultColumnProfiler)
profiles.stats()

               total  empty  distinct  uniqueness   entropy
Incident_Type    273      0        82    0.300366  5.549748
Borough          273      0        12    0.043956  2.460617
Latitude         273      0       252    0.923077  7.859246
Longitude        273      0       252    0.923077  7.859246
CREATE_DATE      273      0       251    0.919414  7.912833
CREATE_TIME      273      0       263    0.963370  8.006275

#Precision and Recall

Selected data[Borough]  =351

Selected data[Lat]	= 351

Selected data[Lon]	= 351


---



True positive[borough] = 351 - 0 -78 = 273

True positive[lat]	= 351 -53 - 78 = 220

True positive[lat] 	= 351 - 53 - 78= 220


---



Relevant [borough] = 273 - 0 = 273

Relevant[latitude] = 273 - 53 = 220

Relevant[longitude] = 273 - 53 = 220


---



We are calculating precision as 

precision = True positive/selected

recall = True positive/Relavent


---


Precision[borough]:    87%

Precision[latitude]:  75%

Precision[longitude]:  75%


---



Recall[borough]:  99%

Recall[latitude]: 98%

Recall[longitude]:  99%